* { box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

main {
    background-color: #9866acf7;
}

.card {
    margin-top: 2vh;
}

.card-header {
    color: #bfbfbf
  }

.card-body {
    background-color: #794e75f7;
    margin: 2px
  }

nav a {
    padding: 10px;
    color: white; 
}
nav a:hover {
    color: white;
    text-decoration: none;
    font-size: 110%;
    transition: .3s
}

#logout {
    color: white;
}

#logout:hover {
    color: white;
    text-decoration: none;
    font-size: 110%;
    transition: .3s

}

a {
  text-decoration: none;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #601f74;
}


.btn-createBtn {
  background-color: #602382;
}

button {
  background-color: #e3a7f5;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #601f74;
}
ol {
    list-style: none;
    margin-top: 2vh;
  }

.post-list {
  margin: 0;
  padding: 0;
}
#post-title {
    width: 100%
  }
  
  #post-body {
    width: 100%
  }

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #281930;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  
}

header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    background-color: #482248;
    height: 15vh;
  }

  header h1 {
    background-color: #7f388df7;
    width: fit-content;
    padding: 1vh;
    border-radius: 1vh;
    margin-top: 3vh;
    box-shadow: 7px 5px 4px #6b6666;
  }

  header h1 a {
      color: #4b254f; 
  }

  header h1 a:hover {
    color: #3d0f3d;
    text-decoration: none;
    font-size: 110%;
    transition: .1s;
}


main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #9e40aa;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #30132f;
}

.delete-post-btn {
  background-color: #b714d4;
}

.delete-post-btn:hover {
  background-color: #521252;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
  margin-top: 1vh;
  color: #8d2ba5
}

.edit-body {
  color: rgb(64, 20, 75);
}

.comment-form {
    margin-top: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #fff5eb;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }

  .edit-post a {
    color: #551255
  }
  .edit-post-form input {
      width: 100%
  }

footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
    background-color: #482248;
    color: #dcbced;
    font-weight: bold;
    width: 100%;
    text-align: center
    
  }